$color-primary: #256EEB;
$color-text: #0A143A;
$color-text-secondary: #C4C4C4;
$color-background: #FFFFFF;
$font-primary: 'Roboto', sans-serif;

root {
  --color-primary: #256EEB;
  --color-text: #0a143a;
  --color-text-secondary: #c4c4c4;
  --color-background: #FFFFFF;
  --font-primary: 'Roboto', sans-serif;
}
